BOT_TOKEN=8611551219:AAEZVEtJwcClEQ8Y9222giBuv0TyZDEG8P8
SUPABASE_URL=https://nufqdjdhaxrzjhtqlpsf.supabase.com
SUPABASE_KEY=sb_publishable_MzjzGBOs5GBZhqhxpuOKdw_CwVjLZZg
ADMIN_CHAT_IDS=5380701967,7385709953